<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock meta %}

    {% block styles %}
    {% endblock styles %}   
    <title>
    |ارسال خودکار پیام
    {% block title %}
    
    {% endblock title %}
    </title>
</head>
<body>
    <header>
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <p>سلام {{ user }}</p>
    {% if user.is_staff %}
    <a href="{% url 'admin:index' %}">داشبورد</a>    
    {% endif %}
    <button type="submit">خروج</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">ورود</a>
    <a href="{% url 'signup' %}">ثبت نام</a>
    {% endif %}
    </header>
    <main>
    {% block content %}
    
    {% endblock content %}
    </main>
    <footer></footer>
</body>
</html>